
    <form id="create_caption" method="post" action="/memes/<%= @meme.id %>/captions">
      <input id="caption_text" type="text" name="caption_content" placeholder="add meme caption">
      <input type="submit" value="submit">
    </form>

