  <ul class="comment-ul-list">
    <% @meme.comments.each do |comment| %>
      <!-- <li><%= comment.comment_content %></li> -->
      <%= erb :'memes/_meme_comment_line', locals: { comment: comment} %>
    <% end %>
  </ul>
    <% if logged_in? %>
      <form id="create_meme_comment" method="post" action="/memes/<%= @meme.id %>/comment">
        <input id="comment_text" type="text" name="comment_content" placeholder="add meme comment">
        <input type="submit" value="submit">
      </form>
    <% end %>
