<a id="to-new-meme-form" href="/memes/new"><h2>Submit a meme here!</h2></a>

<% @memes.each do |meme| %>
  <ul class="meme-list">
    <center><li><a href="/memes/<%= meme.id %>"><img class="frontpage-meme" src="/<%= meme.photo %>"></a></li></center>
  </ul>
<% end %>
