<% @memes.each do |meme| %>
  <ul class="meme-list">
    <center><li><a href="/memes/<%= meme.id %>"><img class="frontpage-meme" src="/<%= meme.photo %>"></a></li></center>
  </ul>
<% end %>

<form method="post" action="/memes" enctype="multipart/form-data" class="submit-meme-form">
  <input type="file" name="photo">
  <input type="submit" class="submit-button">
</form>

