<h1 class="register">Registration</h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<form id="registration" action="/users/new" method="post">
  <input type="text" name="user[username]" placeholder="Username" />
  <input type="text" name="user[email]" placeholder="E-mail" />
  <input type="password" name="user[password]" placeholder="Password"/>

  <input type="submit" value="Register" />

</form>
