<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Meme Overflow</title>
</head>
<body>
  <nav>
    <h1 class="site-title"><a href="/"> meme <strong>overflow</strong></a></h1>
    <% if logged_in? %>
    <p class="session_display current_user"><%= current_user.username %></p>
      <form class="logout-form" method="POST" action="/sessions">
        <input type="hidden" name="_method" value="DELETE">
        <input id ="logout" type="submit" class="button" value="logout">
      </form>
    <% else %>
      <a class="session_display signup" href="/users/new">sign up</a>
      <a class="session_display login" href="/sessions/new">login</a>
    <% end %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
